# GitHub 语言检测配置
# 设置主要语言为 Java
*.java linguist-language=Java
*.vue linguist-language=Vue
*.js linguist-language=JavaScript

# 排除不需要统计的文件
target/ linguist-vendored=true
node_modules/ linguist-vendored=true
webroot/ linguist-vendored=true
logs/ linguist-vendored=true
db/ linguist-vendored=true

# 文本文件使用 LF 换行符，适用于 Linux 和 macOS
*.sh text eol=lf
*.service text eol=lf

# Windows 执行的文件使用 CRLF 换行符
*.bat text eol=crlf
*.cmd text eol=crlf
bin/nfd-service-template.xml text eol=crlf
